// Imports
@import "variables";
@import "reset-font";
@import "animaciones";


body {
    font-family: $font;
    overflow-y: auto;
    background-color: $color-secundario;
}

footer {
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;
    background: $color-secundario;
    z-index: -1;
}

.footer-txt {
    margin: 20px;
    text-align: center;
    font-size: 17px;
}

// Barra de navegacion mobile - bootstrap

.logo-web {
    height: 65px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;

}

.navbar-toggler-icon {
    background-size: 200%;
    background-image: url(../assets/img/fondo-web.png)
}

.navbar-collapse {
    width: 100vh;
    height: 100vh;
}

.navbar-nav {
    align-items: center;
}

.container-fluid {
    background-color: $color-secundario;
}

.navbar {
    padding: 0;
}

.nav-link {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: larger;
}

.navbar-nav .nav-link.active {
    color: $color-principal;
}

.nav-link:hover {
    text-decoration: underline;
    color: white;
}

.bg-body-tertiary {
    opacity: 2;
}

//  home - mobile 
.home {
    display: grid;
    justify-content: center;
    align-items: center;

    min-height: 85vh;


    .logo-home {
        height: 200px;
        border-radius: 50%;
        box-shadow: 5px 5px 10px $shadow-color;
    }

    .home-txt {
        color: $color-principal;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bolder;
        text-shadow: 2px 2px $shadow-color;
        letter-spacing: 1px;

        position: relative;
        bottom: 80%;
    }
}

// titulos pages - mobile 
.titulo {
    margin-top: 0%;

    text-transform: uppercase;
    font-size: 45px;
    color: $color-principal;
    text-align: center;
}


// sobre-mi - mobile 
.sobre-mi {
    margin: 30px;


    .descripcion-sobre-mi {
        margin-top: 5%;

        font-size: 17px;
        color: lightgray;
        text-align: justify;
        line-height: 30px;
    }
}

// portafolio - mobile 

.cont-portafolio {
    display: grid;
    justify-content: center;
    align-items: center;

    height: 80vh;


    .portafolio-txt {
        color: $color-principal;
        font-size: 30px;
        font-weight: bold;
    }
}

//  habilidades - mobile 
.habilidades {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 60vh;
    justify-content: space-between;
    align-items: center;

    margin-top: 20%;

    .div-habilidades {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        position: relative;

        .logos-habilidades {
            height: 70px;
        }


        .texto-habilidades {
            font-size: 15px;
            font-weight: bold;
            margin-top: 10px;
            color: white;
            text-transform: uppercase;
        }

        &:hover .descripcion-habilidades {
            display: block;
          }
      
          .descripcion-habilidades {
            display: none;
            position: absolute;
            top: -30%;
            left: 10%;
            width: clamp(150px, 70%, 200px);
            max-height: 150px;
            overflow-y: scroll;
            padding: 10px;
            background-color: $color-secundario;
            box-shadow: 0 0 10px $shadow-color;
            font-size: 16px;
            color: $color-principal;
            line-height: 1.5;
            z-index: 999;
          }
    }
}

// contacto - mobile 

.contacto {
    margin: 30px;

    .formulario {
        width: 80%;
        margin: 0 auto;

        label {
            display: block;
            margin: 8px 0;
            font-weight: bold;
            color: $color-principal;
        }


        .inputs-forms {
            padding: 3px;
            margin: 8px 0;
            width: 270px;
            border: 2px solid $color-principal;
            font-size: 16px;
        }

        .text-contacto {
            padding: 6px;
            margin: 8px 0;
            width: 270px;
            height: 50px;
            border: 2px solid $color-principal;
            font-size: 16px;
        }

        .boton-forms {
            background-color: $color-principal;
            color: black;
            padding: 3px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 270px;
            font-size: 16px;
            font-weight: bold;
        }

    }



    .redes-sociales {
        margin-top: 10%;
        margin-bottom: 10%;

        text-transform: uppercase;
        font-size: 20px;
        color: $color-principal;
    }

    .redes {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .redes-icon {
            position: relative;
            width: 30px;
            bottom: 20px;
            margin-top: 15%;
        }

        .p-redes {
            margin: 0;
            font-size: 15px;
            color: white;
            text-align: center;

            position: relative;
            bottom: 10px;
        }
    }

}

//  vista desktop 

@media (min-width: 992px) {

    body {
        overflow-x: hidden;
        overflow-y: auto;
        margin-left: 10%;
        margin-right: 10%;

        display: grid;
        min-height: 100vh;
        grid-template-rows: auto 1fr auto;
    }

    footer {
        position: relative;
        padding: 1em 0;
        z-index: -10;
        background: $color-secundario;
        text-align: center;
        height: 80px;

    }

    //  navbar 
    .navbar-collapse {
        height: auto;
        justify-content: flex-end;
    }

    //  home 
    .home {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 40%;
        grid-template-rows: 70%;

        min-height: 50vh;
        text-align: center;


        .logo-home {
            height: 300px;
            border-radius: 50%;
        }

        .home-div {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .home-txt {
            color: $color-principal;
            text-transform: uppercase;
            font-size: 40px;
            font-weight: bolder;
            text-shadow: 3px 3px $shadow-color;

            text-align: center;
        }
    }

    // titulos pages - desktop 
    .titulo {
        margin-top: 5%;
        text-align: center;
    }

    //  sobre-mi
    .sobre-mi {
        margin-top: 0;

        .descripcion-sobre-mi {
            margin-top: 10%;
            font-size: 23px;
        }
    }

    //  habilidades 

    .habilidades {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 60vh;
        justify-content: center;

        margin-top: 10px;

        .div-habilidades {
            position: relative;

            &:hover .descripcion-habilidades {
                display: block;
            }

            .descripcion-habilidades {
                display: none;
                position: absolute;
                top: -30%;
                left: 0;
                width: 300px;
                padding: 20px;
                background-color: $color-secundario;
                box-shadow: 0 0 10px $shadow-color;
                font-size: 16px;
                color: $color-principal;
                line-height: 1.5;
                z-index: 999;
            }
        }
    }

    //  contacto 

    .contacto {
        margin: 30px;

        .formulario {
            width: 50vh;
            height: 50vh;
            margin: 0 auto;

            label {
                display: block;
                margin: 8px 0;
                font-weight: bold;
                color: $color-principal;
            }

            .inputs-forms {
                padding: 12px;
                margin: 8px 0;
                width: 500px;
                border: 2px solid $color-principal;
                font-size: 16px;
            }

            .text-contacto {
                padding: 12px;
                margin: 8px 0;
                width: 500px;
                height: 100px;
                border: 2px solid $color-principal;
                font-size: 16px;
            }

            .boton-forms {
                background-color: $color-principal;
                color: black;
                padding: 12px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                width: 500px;
                font-size: 16px;
                font-weight: bold;
            }
        }

        .redes-sociales {
            margin-top: 15%;

            text-transform: uppercase;
            font-size: 30px;
            color: $color-principal;
            display: flex;
            justify-content: start;
        }

        .redes {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 5%;

            .redes-icon {
                position: relative;
                width: 45px;
                bottom: 100px;
            }
        }
    }
}